.current {
    display: flex;
    flex-flow: row wrap;
    color: white;
    padding: 20px;
    text-shadow: 1px 1px #F68D2E;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.current .info {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-around;
    flex-grow: 2;
}

.current .info .city {
    font-size: 26px;
}

.current .info .temp {
    font-size: 56px;
}

.current .info .wind {
    font-size: 24px;
}

.current .icon {
    text-align: center;
    font-size: 64px;
    flex-grow: 1;
}

.future {
    display: flex;
    flex-flow: row wrap;
    color: white;
    padding: 20px;
    text-align: center;
    overflow: auto;
}

.future .day {
    flex-grow: 1;
    text-align: center;
    cursor: pointer;
    background: white;
    color: black;
}

 .future .day:hover, .card:hover {
    color: #fff;
    background-color: #F68D2E;
}

 .future .day h3 {
    text-transform: uppercase;
}

 .future .day p {
    font-size: 28px;
}

.forecast-table{
    max-width: 90% ;
    background: rgba(0,0,0,0.8);
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.date{
    background: rgba(0,0,0,0.8);
}

.table-data{
    color: black;
}

th{
    text-align: center;
}

.back-button{
    position: fixed;
    top: 15px;
    left: 15px;
}

.selected-weather{
    min-height: 120px;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    color: white;
    margin: 20px;
    background: rgba(0,0,0,0.7);
    text-align: center;
}
  
.content {
    padding: 2px 16px;
}

.list-group li {
    list-style: none;
}

.future-grid{
    justify-content : space-around;
    overflow: auto;
    margin-bottom: 0px;
    height: 60vh;
}

.grid-button{
    margin-right: 5%;
    height: 5%;
    color: black;
}

.active{
    color: #fff !important;
    background-color: #F68D2E !important;
}